__pycache__/
models/models_ifl/*
models/dataset_real/*
data
env/data
data_all
logs*
experiments/*
.algorithms/contact3d/contact3d/nn/vlm_util/dinov2_util/pretrained
wandb*
*.pthGraspAgentic/
third_party/curobo/
GraspAgentic/
models/models_ifl/
models/acronym/grasps/
models/
output.text
models/objects_MG/
third_party/anygrasp_sdk
datasets/
datasets/dataset.hdf5
hdf5image
hdf5image
get_fig
third_party/
datasets_test
get_fig.hdf5
dataset_1_bowl_lgd.hdf5
dataset_6_cup_lgd.hdf5
baseline_info/
old_code_copy/
realworld_data/*.hdf5

*.json
*.json
datasets_baseline/

# Local test scripts
robot_test.py
simple_test.py

